<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/fixlogo"
        android:label="GSTBillingPro"
        android:roundIcon="@drawable/fixlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GSTBIllingPro">
        <activity
            android:name=".Activity.TotalOverviewActivity"
            android:exported="false" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".custmore.CustomerDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".custmore.InvoiceDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".soldproduct.SoldProductsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CustomerReportActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.InvDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PendingPaymentsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProductSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.CustomerSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.FieldMappingActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.ShareExportActivity"
            android:exported="false" />
        <activity
            android:name=".custmore.AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.AllInvoicesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.NewProductActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.CustomFieldsActivity"
            android:exported="false" />
        <activity
            android:name=".Registration.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".Registration.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".Registration.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>